
 
<ion-content>

  <div class="heading">

    <ion-card  class="card2">
      
      <img class="img" src="assets\movie.png">
      </ion-card>
  
  <ion-card class="card1">
      <h1 style="color: white ; position: relative;left: 25%;align-items: center;font-weight: bold;">My Movie Search</h1>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
      <ion-item style="color:red ;">
        <ion-label style="color: #edc02c ;" >Select Searchtype</ion-label>
        <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option value="movie">Movie</ion-select-option>
          <ion-select-option value="series">Series</ion-select-option>
          <ion-select-option value="episode">Episode</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card> 
    
    
  </div>
  
  
  
 
  <ion-list>
 
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]">
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar>
 
      <ion-label text-wrap>
        <h3>{{ item.Title }}</h3>
        {{ item.Year }}
      </ion-label>
 
      <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon>
 
    </ion-item>
 
  </ion-list>
 
</ion-content>
